html,
body {
    font-size: 16px;
    width: 100%;
    font-family: 'Raleway', sans-serif;
	background-color: #FCFCFC;
}

/*Content*/
.content{
	margin: 70px auto;
	width: 96%;
	padding: 10px;
}


.slide {
	background-color: white;
	max-width: 600px;
	box-shadow: 0px 0px 8px -1px;
    border-radius: 5px;
	float: left;
}
.slide .cap{
    height: 40px;
    border-radius: 5px 5px 0px 0px;
    width:100%;
	background-color: #fddc57;
}
.slide .banner{
	max-width: 100%;
}
.appicon{
	position:absolute; 
	width: 5%;
	margin-left: 20px;
	top: 68%;
	left: 2%;
	float: left;
}

.slide h5{
    font-size:18px;
    font-weight: 700;
	margin: 15px auto;
	text-align: center;
    line-height: 1.575rem;
	color:#333;
}


.caption{	
	max-width: 500px;
	float: left;
	margin-left: 80px;
}
.caption h2{	
	border-left: solid 4px #fddc57;
	padding-left: 20px;
	color:#333;
	font-weight: 400;
	font-size: 2.5rem;
}

.caption p{	
	font-size: 18px;
	padding: 0px 8px 25px 8px;
	color:#666;
	font-weight: 100;
	line-height: 1.5rem;
	border-bottom: solid 1px #666;
}

.caption .label{	
	font-size: 18px;
	padding: 8px;
	color:#666;
	font-weight: 100;
	line-height: 1.5rem;
}
.caption .label strong{
	color:#333;
}